{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "markdown.listItemIndent": "one",
        "proseWrap": "preserve",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
